<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="QrcodeDialog">
		<size>210,210</size>
		<minsize>210,210</minsize>
		<maxsize>210,210</maxsize>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxBORDER_STATIC</style>
		<handler function="OnPaint" entry="EVT_PAINT" />
	</object>
</wxsmith>
